@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family:'Ubuntu', sans-serif;
}
ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 46px;
    padding: 0 8px;
    
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    
}
.container{
    height: 470px;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 6px;
    padding: 16px;
    background-image: url('images/bg.jpg');
}

.bottom{
    position:sticky;
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 5px;
}
.icons i{
    cursor: pointer;
}

#myprogressbar{
    width: 70vw;
    cursor: pointer;
}
.musiclist{
    font-size: small;
}
.musicitem{
    height: 30px;
    display: flex;
    background-color: white;
    color:black;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    margin: 7px 23px;
}
.musicitem img{
    height: 31px;
    border-radius: 24px;
    width: 32px;
   
}
.timestamp{
    margin:0px 23px;

}
.timestamp i{
    cursor: pointer;
}
.insidecontainer{
    margin-top: 33px;
}
.musicinfo{
    position: absolute;
    font-family: 'Varela Round',sans-serif;
    font-size: small;
    left: 15vw;
}
.musicinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in ;
    margin-top: 6px;
}